.loaderWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.bounce {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100%;

  div {
    width: 20%;
    background-color: var(--loader-color, #ff5722); // default color
    animation: bounce 1.2s infinite ease-in-out;
    border-radius: 4px;
  }

  div:nth-child(1) {
    animation-delay: -0.24s;
  }
  div:nth-child(2) {
    animation-delay: -0.12s;
  }
  div:nth-child(3) {
    animation-delay: 0;
  }
}

@keyframes bounce {
  0%, 80%, 100% {
    transform: scaleY(0.4);
  }
  40% {
    transform: scaleY(1);
  }
}
